:root {
  --clr-primary-200:#d3e1de;
  --clr-primary-400: #001a44;

  --clr-neutral-100:#FFF;
  --clr-neutral-900:#0c0f1d;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Roboto Serif', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  padding-top: 2.5625rem;
}

@media (max-width: 30em) {
  body {
    font-size: 1rem
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  text-align: left;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 500;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 0.7em;
}

p a {
  color: darkblue
}

a {
  color: var(--clr-primary-400);
}

hr {
  margin-top: 2rem; 
  margin-bottom: 3rem;
  background-color: var(--clr-primary-400);
}

.text-center {
  text-align: center;
}

section {
  padding: 6rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  min-height: calc(100vh - 16rem)
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--rarrow {
  max-width: 34rem;
}

.bg-light { 
  background: rgb(255,221,136);
background: linear-gradient(153deg, rgba(255,221,136,1) 0%, rgba(211,225,222,1) 60%);
}

.bg-primary { 
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark { 
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-white {
  background-color: var(--clr-neutral-100);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

img {
  display: block;
  max-width: 50%;
  margin-bottom: 2rem;
}



@media (max-width: 60em) {
  h2, p, .get-in-touch {
    text-align: center; 
  }
  p, .get-in-touch {
    font-size: medium;
  }
  .icons-small {
    display: flex;
    justify-content: center;
  }
}


.extra-padding-bottom {
  padding-bottom: 2rem;
}

.extra-padding-top {
  padding-top: 2rem;
}

.low-margin {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.writing-title {
  font-size: 0.9em;
  color: #b5b5ff;
}

.writing-notes {
  line-height: 1.5rem;
  font-size: 0.8em;
  padding-top: 1rem;
  margin-bottom: -1rem;
}

.footer {
  margin-top: 10rem;
  font-size: 0.7em;
  padding:0;
  margin-bottom:-6rem;
  text-align: center;
}


.spacer {
  aspect-ratio: 1000/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 40em) {
  .spacer {
    aspect-ratio: 1000/150;
  }
}

.layer1 {
  background-image: url('transition-steps.svg')
}

.layer2 {
  background-image: url('stacked-steps-haikei\ \(3\).svg')
}

.layer3 {
  background-image: url('transition-ducks.svg');
}

.layer4 {
  background-image: url('transition-ducks\ \(1\).svg');
  transform: translateY(-100%);
  z-index: 10000;
  position: absolute;
}

.layer5 {
  background-image: url('layered-waves-haikei\ \(6\).svg');
}

.layer6 {
  background-image: url('water-ducks\ \(1\).svg');
  transform: translateY(-100%);
  z-index: 10000;
  position: absolute;
}

.layer7 {
  background-image: url('water-ducks\ \(4\).svg');
}

.icon {
  width: 5rem;
  margin-bottom: 1.5rem;
}

.icons {
  display: flex;
  margin-left: -30vw;
}

@media (min-width: 100em) {
  .icons {
    margin-left: -20vw;
  }
}

@media (min-width: 150em) {
  .icons {
    margin-left: -10vw;
  }
}

.me {
  display: flex;
}

small {
  color: var(--clr-primary-400);
  font-weight: bold;
}

@media (max-width: 60em) {
  .icon {
    width: 4rem;
  }
  .icons {
    justify-content: center;
    margin-left: 7vw;
  }
  .me {
    display: block;
  }
}

.icon-small {
  width: 2rem;
  margin-bottom: 0.5rem;
}

.icons-small {
  display: flex;
}

.icons-small small {
  padding-top: 0.2rem;
  color: #0c0f1d;
  font-weight: normal;
}

.me h2 {
  width: 100%;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

.profile-pic {

  align-self: center;
}

@media (min-width: 40em) {
  .profile-pic {  
    max-width: 30%;
    min-width: 14rem;
  }
}

@media (max-width: 40em) {
  .profile-pic {
    height: 200%;
    width: 15rem;
  }
}

.profile-image {
  transform: 
    scaleX(96%)
    translateX(1.6%)
    scaleY(97%)
}

.loading {
  
  margin-top: -13rem;
  margin-left: 5rem;
  padding-bottom: 4rem;
  
  z-index: -300;
  position: relative;
}

@media (max-width: 30em) {
  .loading {
  
    margin-top: -13rem;
    margin-left: 4rem;
    padding-bottom: 4rem;
    
    z-index: -300;
    position: relative;
  }
}