main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
  
section {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -999;
    min-height: 100vh;
}

.parallax a {
    display: block; 
    width: 100%; 
    height: 100%;
    position: absolute;
}

.no-parallax {
    z-index: 999;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
  
.bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://camo.githubusercontent.com/1775daf60e575b6a592deb4f82fd10bf38668b197cc4ce8a5dec46270d4d8b2b/68747470733a2f2f692e6962622e636f2f64304a4630674d2f53637265656e2d53686f742d323032322d31312d30362d61742d332d30372d32392d504d2e706e67");
    background-size: cover;
    background-position: center;
}