main {
    height: calc(100vh - 2.5625rem);
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
  
section {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax {
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -999;
    min-height: calc(100vh - 2.5625rem);
}

@media (max-width: 30em) {
    .parallax {
        min-height: calc(100vh - 4.5625rem);
    }
    .main {
        height: calc(100vh - 4.5625rem);
    }
}

.parallax a {
    display: block; 
    width: 100%; 
    height: 100%;
    position: absolute;
}

.no-parallax {
    z-index: 999;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
  
.bg::after {
    background: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/
      url("CDS_done.jpg");
    background-size: cover;
    background-position: center;
}