.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 4rem;
}

.skills-grid > * {
  flex: 1 1 9em;
}

.skills-col {
  background-color: /*var(--clr-neutral-100);*/ var(--clr-primary-200);
  color:var(--clr-primary-400);
  text-align: center;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.skills-col:hover {
  margin-top: -0.1rem;
  margin-bottom: -0.1rem;
}

.skills-icon {
  padding: 0.2rem 0.2rem 0.2rem 1rem;
  margin: 0 0 0 0;
  height: 3rem;
  width: 50%;
  display: flex;
}

.skills-icon img {
  height: 100%;
  object-fit:cover;
  margin-left: 20%;
}

.skills-text {
  font-size: 1rem;
  width: 50%;
}

@media (max-width: 30em) {
  .skills-text {
    font-size: 0.7rem;
  }
  .skills-icon img {
    height: 100%;
    object-fit:contain;
    margin-left: 10%;
  }
}

.vl {
  height:100%;
  border-left: 3px solid var(--clr-neutral-900)
}

.skills-bullets {
  line-height: 1rem;
  font-size: 0.8em;
}